<% if play_lists.any? %>
  <% play_lists.each do |play_list| %>
    <table class='table table-hover table-inverse'>
      <tr>
        <tr>
          <td><%= link_to play_list.title, public_play_list_path(play_list) %></td>
        </tr>
      </tr>
    </table>
  <% end %>
<% end %>