<div class='row'>
  <div class="offset-sm-3 col-sm-6">
    <h2 class="head-line title_h2 text-left bg-light d-inline-block">曲投稿</h2>
      <%= render 'public/tracks/form', track: @track %>
  </div>
</div>