  <div class="container">
    <h2 class="head-line title_h2 text-left bg-light d-inline-block">お気に入りリスト</h2>
    <div class="row">
      <%= render 'public/tracks/index', tracks: @tracks %>
    </div>
  </div>