<div class="container">
  <% if current_user.id == @user.id %>
　  <h2>マイページ</h2>
　<% else %>
　  <h2><%= @user.name %>のページ</h2>
　<% end %>
  <div class='row'>
    <div class='col-lg-3'>
    <%= render 'profile', user: @user %>
    </div>
    <div class='col-lg-9'>
      <h2>投稿リスト</h2>
      <%= render 'public/tracks/index', tracks: @tracks %>
    </div>
  </div>
</div>